/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.image_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image_wrapper img {
    width: 100%;
}

.input-text {
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid orange;
    border-radius: 5px;
    background: #ffffe6;
    color: darkgrey;
    text-shadow: 1px 1px black;
}

.paint_points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.point-custom {
    position: absolute;
    width: 3px;
    height: 3px;
    background: lightgreen;
    border-radius: 50%;
    border: 2px solid red;
    margin: -2px 0 0 -2px;
    font-size: 0;
}

.header-custom {
    font-family: "TH Sarabun New";
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 40px;
    margin-bottom: 25px;
    border: 3px solid black;
    background: lightgoldenrodyellow;
    border-radius: 15px;
}

.image-detect {
    margin-top: 5px;
    font-family: "TH Sarabun New";
    font-size: 24px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.image-detect-train{
    margin-top: 5px;
    font-family: "TH Sarabun New";
    font-size: 28px;

}

.text-wrapper {
    text-align: center;
    background: lightskyblue;
    border: gray solid 15px;
    margin: 5px;
    border-radius: 10px;
}

.result-text {
    font-family: "TH Sarabun New";
    font-size: 32px;
}

.set-img-wrapper {
    font-family: "TH Sarabun New";
    font-size: 24px;
}

.check-btn {
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    border: 4px solid lightblue;
    background: powderblue;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    border-radius: 5px;
}

.check-btn:focus {
    outline: 0px;
}

.check-btn:active {
    outline: 0px;
}

.submit-btn {
    margin-top: 10px;
    background: mediumpurple;
    border: 5px solid #b84dff;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px deeppink;
}

.submit-btn:focus {
    outline: 0px
}

.input-bar {
    border: 5px solid gray;
    border-radius: 30px;
    color: red;
    background: ivory;
    margin-bottom: 10px;
}

.input-bar:focus {
    outline: 0px;
    color: black;
    background: white;
}

.result-box {
    border: 4px solid #99ffff;
    border-radius: 5px;
    padding: 10px 10px;
    background: #e6f7ff;
    color: #663300;
    font-weight: bold;
    text-shadow: 2px 2px white;
    margin-bottom: 20px;
}

.box1-custom {
    margin-bottom: 20px;
    border: 5px solid lightgreen;
    border-radius: 5px;
    padding: 10px;
    background: #ccffcc;
}

.btn-absolute {
    position: absolute;
    width: 0px;
}